AI Workshop Agent.json
{
  "name": "AI Workshop Agent - APU Hackthletes",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Past Assignments",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Files Here",
              "fieldType": "file"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        144,
        336
      ],
      "id": "9f06c4e4-5619-425b-9ce4-fd2624682640",
      "name": "Upload Past Assignments",
      "webhookId": "4a7fcc0c-88af-4b1d-ad73-cf194e80f784"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aeaf14e8-706c-4153-986e-11cb3308acda",
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d40a974-9556-4e28-92a8-0a35fbf2b63d",
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "=application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Docx"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1024,
        336
      ],
      "id": "7e0dcad1-4429-47db-8387-d5001b55534d",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        336
      ],
      "id": "d82be191-7941-475d-b069-55251b42ef88",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1376,
        544
      ],
      "id": "c9c16e62-75cd-4138-a6f9-bc20084ccc46",
      "name": "Extract from Docx"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1376,
        352
      ],
      "id": "e352c36a-33cb-46db-aa8c-4e5553e8a74c",
      "name": "Extract from Pdf"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        480,
        1664
      ],
      "id": "f11b588c-5364-4286-943c-ac3afeb78991",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "aX6MCMtH8vIhH8LZ",
          "name": "groq account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        608,
        1840
      ],
      "id": "ff941deb-3b47-4509-9959-d2d18c0fa6ce",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert assignment ghostwriter. Your goal is to write the requested paragraph while perfectly replicating a specific student's imperfect human writing fingerprint.\n\nCRITICAL MECHANICAL CONSTRAINTS (Follow strictly to match the user's statistics):\n1. SENTENCE BURSTINESS: Your sentences must heavily fluctuate. Write a long complex sentence (25-30 words) matching this structure: \"{{ $json.typological_sentence_blueprints.complex_argument_example }}\", followed immediately by a short, punchy sentence (under 10 words).\n2. TRANSITIONS & VOCABULARY: Only use these transitional words: {{ $json.lexicon_habits.preferred_transition_words.join(', ') }}.\n3. STRICTLY FORBIDDEN PHRASES: If you use any of these phrases, the generation fails: {{ $json.lexicon_habits.banned_or_avoided_phrases.join(', ') }}.\n4. HUMAN ECHOING: Humans naturally repeat certain core technical verbs. Notice how the user repeats words like \"enable\" frequently. Do not try to make the vocabulary perfectly diverse or polished. Match the third-person neutral bias defined here: \nCRITICAL ANALYSIS CONSTRAINTS:\n1. For 'structural_breakdown', do NOT use standard grammar terms like \"Independent + subordinate clause\". Instead, describe the literal blueprint mechanism (e.g., \"The author list-dumps 4 nouns separated by commas mid-sentence, then loops back to the main corporate subject with a relative pronoun clause\").\n2. For 'argumentation_flow', explain exactly how they use their context (e.g., \"The author routinely couples a technical framework name like Tier III directly with a corporate entity name like Sime Darby to force an immediate business justification\").\n3. Make sure the 'exact_source_sentence' catches actual human flaws, such as repeating the word 'suitability' or stacking three prepositional phrases ('of the enterprise' + 'at a cost' + 'without being').\n\nAssignment Topic to write about:\n{{ $json.data }} {{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1376,
        -112
      ],
      "id": "7f506eed-e24e-4bc6-8a75-0d3efa71a6d1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1280,
        112
      ],
      "id": "bef989ae-00b4-4540-844c-20b93b3f019d",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "aX6MCMtH8vIhH8LZ",
          "name": "groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sentence_mechanics\": {\n    \"average_word_count_per_sentence\": \"15-20 words\",\n    \"structural_footprint\": \"Detailed description of clause ordering (e.g., 'Tends to place subordinate clauses at the beginning of sentences before the main predicate').\",\n    \"punctuation_quirks\": \"Detail the exact physical placement of symbols (e.g., 'Frequently uses pairs of commas to isolate appositives or mid-sentence real-world examples').\"\n  },\n  \"verbatim_punctuation_and_syntax_blueprints\": [\n    {\n      \"pattern_type\": \"The grammatical structure being highlighted (e.g., 'Mid-sentence parenthetical example', 'Semicolon transition', 'Comma-heavy descriptive string')\",\n      \"exact_source_sentence\": \"Paste an exact, verbatim sentence from the text that perfectly exhibits this punctuation and syntax cadence.\",\n      \"structural_breakdown\": \"A mechanical token breakdown of why this sentence fits the pattern (e.g., 'Noun + comma + transition phrase + comma + active verb + semicolon + conditional clause').\"\n    },\n    {\n      \"pattern_type\": \"Another structural footprint pattern\",\n      \"exact_source_sentence\": \"Another exact, verbatim sentence showcasing a different signature punctuation habit.\",\n      \"structural_breakdown\": \"Mechanical token breakdown.\"\n    }\n  ],\n  \"paragraph_cadence\": {\n    \"average_paragraph_length\": \"5-7 sentences\",\n    \"paragraph_opening_habit\": \"Specify structural preferences for paragraph openings.\",\n    \"argumentation_flow\": \"Explain how they layout facts sequentially.\"\n  },\n  \"tonal_fingerprint\": {\n    \"vocabulary_sophistication\": \"Describe specific word choices.\",\n    \"assertiveness_scale\": \"Does the author use authoritative verbs or cautious academic hedging?\",\n    \"emotional_distance\": \"Identify stylistic traits matching their level of detachment.\"\n  },\n  \"idiosyncratic_habits\": {\n    \"linguistic_crutches\": [\n      \"enable\",\n      \"support\"\n    ],\n    \"cliché_or_filler_avoidance\": \"Note specific elements the author completely strips out.\"\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1680,
        112
      ],
      "id": "83dc061b-0b00-464e-9802-d4aa4eb5f4ed",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1632,
        304
      ],
      "id": "27baf2b8-0164-46a8-86b6-f1cf486c57d4",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "aX6MCMtH8vIhH8LZ",
          "name": "groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2624,
        -160
      ],
      "id": "eb6599a1-c232-4a2c-ba40-8223eec82d84",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool FIRST to retrieve the target student's structural writing mechanics, sentence rules, and paragraph profiles.",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "4iDFfTmaKM5u8y02",
          "mode": "list",
          "cachedResultName": "Data Table",
          "cachedResultUrl": "/projects/ZAnvQSHg8yIJq064/datatables/4iDFfTmaKM5u8y02"
        },
        "returnAll": "="
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        800,
        1680
      ],
      "id": "14257f5d-8479-47a3-9d36-5134859c11b3",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool SECOND to research real-world facts, academic papers, and background details regarding the assignment topic. CRITICAL: Your search query must be a short, concise keyword phrase (MAXIMUM 50 characters). Do not pass full sentences or paragraphs",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1088,
        1696
      ],
      "id": "ef09849f-0c06-463e-ab21-8cc6739ce622",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "6AoPtRmlqbwxOEvg",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "Data Table",
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2960,
        -160
      ],
      "id": "1ff379a4-7108-4aef-b213-4046b97d6e7e",
      "name": "Create a data table"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        2224,
        1456
      ],
      "id": "dad0fa76-9750-4431-a4c4-f2485921c776",
      "name": "Telegram Trigger1",
      "webhookId": "c9413612-375a-40de-b4a9-e41b668cc9e7",
      "credentials": {
        "telegramApi": {
          "id": "TjX9z4GmqooP9juA",
          "name": "Charles ai Workshop Bot 1"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2976,
        1456
      ],
      "id": "e3cc32de-ac74-45d6-99d7-d82b1abb0123",
      "name": "Send back the ai content to user",
      "webhookId": "a8e2712d-aa89-461e-8104-264163beffea",
      "credentials": {
        "telegramApi": {
          "id": "TjX9z4GmqooP9juA",
          "name": "Charles ai Workshop Bot 1"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ingestion Pipeline\n",
        "height": 1200,
        "width": 2176,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -288
      ],
      "id": "5ba17572-49c7-4f8a-b399-bb4afe5e5243",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// Get the array of uploaded files metadata from the JSON body\nconst filesMetadata = $input.item.json[\"Upload Files Here\"] || [];\nconst binaryData = $input.item.binary || {};\n\n// Map each file into its own standalone n8n item\nreturn filesMetadata.map((file, index) => {\n  \n  // n8n typically names multi-upload binary keys sequentially (e.g., \"Upload Files Here_0\", \"Upload Files Here_1\")\n  const binaryKey = `Upload Files Here_${index}`;\n  \n  return {\n    json: {\n      filename: file.filename,\n      mimetype: file.mimetype,\n    },\n    binary: {\n      // Pass the specific file binary data down as 'data' so Extract File nodes can read it automatically\n      data: binaryData[binaryKey] || Object.values(binaryData)[index]\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        336
      ],
      "id": "be6b0adc-7055-4bc4-afb7-4985e6258c14",
      "name": "Parse Files into Array"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            },
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1008,
        -112
      ],
      "id": "ab1ac0a1-a272-4fcf-8be6-26ad6d615a5c",
      "name": "Gather Data Together"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "4iDFfTmaKM5u8y02",
          "mode": "list",
          "cachedResultName": "Data Table",
          "cachedResultUrl": "/projects/ZAnvQSHg8yIJq064/datatables/4iDFfTmaKM5u8y02"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "=\"{{ $json.output }}\""
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1872,
        -112
      ],
      "id": "88782bfa-8ca2-4f4b-8c91-789c98847a29",
      "name": "Insert the analysis result into Data Table"
    },
    {
      "parameters": {
        "content": "## Agent Pipeline (Basic)\n\n",
        "height": 992,
        "width": 1456,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        1136
      ],
      "id": "67ab43a9-e6fa-4487-b996-02d92f5c7a1c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Alternative Agent Pipeline\n",
        "height": 992,
        "width": 1456,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        1136
      ],
      "id": "e2160014-cc55-4781-82c0-3caff36d976f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        272,
        1392
      ],
      "id": "3f94574e-1c4b-4c35-b94e-3f89dc6b6330",
      "name": "When chat message received",
      "webhookId": "33fafb10-2d23-42fe-91a9-3bea1d7bd6f8"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        2560,
        1904
      ],
      "id": "09636cf7-188e-4dea-bd89-f3df928b6fed",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool FIRST to retrieve the target student's structural writing mechanics, sentence rules, and paragraph profiles.",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "4iDFfTmaKM5u8y02",
          "mode": "list",
          "cachedResultName": "Data Table",
          "cachedResultUrl": "/projects/ZAnvQSHg8yIJq064/datatables/4iDFfTmaKM5u8y02"
        },
        "returnAll": "="
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        2752,
        1744
      ],
      "id": "6171c668-26cb-4066-9be6-e0ce3c68c6c1",
      "name": "Get row(s) in Data table2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool SECOND to research real-world facts, academic papers, and background details regarding the assignment topic. CRITICAL: Your search query must be a short, concise keyword phrase (MAXIMUM 50 characters). Do not pass full sentences or paragraphs",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        3040,
        1760
      ],
      "id": "ee668966-c32b-4ba3-9d5c-a652d14f3d0c",
      "name": "Search in Tavily2",
      "credentials": {
        "tavilyApi": {
          "id": "6AoPtRmlqbwxOEvg",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1vg0o1ydRlqkq0kcuiUmxqutEOMt52mgNHGBa-hsj7sE",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "awdawdawdwdwd"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2976,
        1264
      ],
      "id": "7d64de48-ce57-4ea4-a971-251a683233a0",
      "name": "Update a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CULpwcAHUaM2JXYw",
          "name": "Google Docs account charleshor0311"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create Table\n\n",
        "height": 352,
        "width": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2464,
        -304
      ],
      "id": "fdbea7bd-f470-4411-a601-5037194aa9fd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert academic research assistant and professional writer. Your goal is to rewrite the user's input text to match a specific student's structural metrics while ensuring the output remains grammatically correct, highly professional, and perfectly readable.\n\nCRITICAL ARCHITECTURAL RULES:\n1. PARAGRAPH MATCHING: You MUST output the exact same number of paragraphs as the user provided. If the user inputs 2 paragraphs, you must return exactly 2 rewritten paragraphs. \n2. CONDITIONAL RESEARCH: Only use the Tavily tool if the user explicitly asks for external facts/references, or if the student profile metrics require adding missing external citations. If the input already contains sufficient context, focus purely on rewriting and refining.\n3. BIBLIOGRAPHY GENERATION: If the Tavily tool is utilized during this execution, you MUST compile a dedicated \"References\" section at the very bottom of your final response. \n\nOPERATIONAL EXECUTION ORDER:\n1. FIRST: Immediately use the 'Get row(s) in Data table' tool to fetch the student's metrics.\n2. SECOND: Analyze the input text. If external research is required, use Tavily with a short keyword query (<50 chars). If not, proceed to drafting.\n3. THIRD: Rewrite the content paragraph-by-paragraph using the metrics retrieved from the Data Table tool.\n\nSTRICT MECHANICAL FILTERS (Apply per paragraph using the JSON values returned from the Data Table tool):\n- CADENCE: Read the retrieved JSON object. Match the target sentence count per paragraph specified in `paragraph_cadence.average_paragraph_length` and hit the sentence length target specified in `sentence_mechanics.average_word_count_per_sentence`.\n- OPENING HABIT: Explicitly start the first sentence of the rewritten block using the exact transitional phrase or style found in `paragraph_cadence.paragraph_opening_habit`.\n- READABLE COMPLEXITY: Mirror the punctuation habits found in `sentence_mechanics.punctuation_quirks` by using compound sentences smoothly (e.g., proper semicolons or coordinating conjunctions). Do NOT create unreadable, infinite run-on sentences using repetitive commas like \"and, moreover, because, firstly\". Every sentence must be grammatically sound.\n- LINGUISTIC FOCUS: Frame the arguments around how these technical shifts \"enable and support business needs\" and operational impact.\n- CITATIONS & REFERENCE LIST: \n  * Inside the rewritten paragraphs: Format citations strictly as APA inline tags (e.g., Author, Year).\n  * At the very end of the output (only if Tavily was called): Create a clear `### References` markdown heading. List the full APA 7th edition reference format for each source used, and append the direct citation URL at the end of each reference entry so it is easy to copy and paste.\n\nInput text to rewrite:\n{{ $json.message.text }}",
        "options": {
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        1392
      ],
      "id": "375bbf7b-bdac-4a5a-b19f-d9eeb364e53d",
      "name": "Basic Assingment Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert academic research assistant and professional writer. Your goal is to rewrite the user's input text to match a specific student's structural metrics while ensuring the output remains grammatically correct, highly professional, and perfectly readable.\n\nCRITICAL ARCHITECTURAL RULES:\n1. PARAGRAPH MATCHING: You MUST output the exact same number of paragraphs as the user provided. If the user inputs 2 paragraphs, you must return exactly 2 rewritten paragraphs. \n2. CONDITIONAL RESEARCH: Only use the Tavily tool if the user explicitly asks for external facts/references, or if the student profile metrics require adding missing external citations. If the input already contains sufficient context, focus purely on rewriting and refining.\n3. BIBLIOGRAPHY GENERATION: If the Tavily tool is utilized during this execution, you MUST compile a dedicated \"References\" section at the very bottom of your final response. \n\nOPERATIONAL EXECUTION ORDER:\n1. FIRST: Immediately use the 'Get row(s) in Data table' tool to fetch the student's metrics.\n2. SECOND: Analyze the input text. If external research is required, use Tavily with a short keyword query (<50 chars). If not, proceed to drafting.\n3. THIRD: Rewrite the content paragraph-by-paragraph using the metrics retrieved from the Data Table tool.\n\nSTRICT MECHANICAL FILTERS (Apply per paragraph using the JSON values returned from the Data Table tool):\n- CADENCE: Read the retrieved JSON object. Match the target sentence count per paragraph specified in `paragraph_cadence.average_paragraph_length` and hit the sentence length target specified in `sentence_mechanics.average_word_count_per_sentence`.\n- OPENING HABIT: Explicitly start the first sentence of the rewritten block using the exact transitional phrase or style found in `paragraph_cadence.paragraph_opening_habit`.\n- READABLE COMPLEXITY: Mirror the punctuation habits found in `sentence_mechanics.punctuation_quirks` by using compound sentences smoothly (e.g., proper semicolons or coordinating conjunctions). Do NOT create unreadable, infinite run-on sentences using repetitive commas like \"and, moreover, because, firstly\". Every sentence must be grammatically sound.\n- LINGUISTIC FOCUS: Frame the arguments around how these technical shifts \"enable and support business needs\" and operational impact.\n- CITATIONS & REFERENCE LIST: \n  * Inside the rewritten paragraphs: Format citations strictly as APA inline tags (e.g., Author, Year).\n  * At the very end of the output (only if Tavily was called): Create a clear `### References` markdown heading. List the full APA 7th edition reference format for each source used, and append the direct citation URL at the end of each reference entry so it is easy to copy and paste.\n\nInput text to rewrite:\n{{ $json.message.text }}",
        "options": {
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2560,
        1456
      ],
      "id": "aaa0bb8f-ecb5-48d7-a1cf-2ad07d682e73",
      "name": "Assignment Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2432,
        1664
      ],
      "id": "7c63bf84-3a2b-4ee8-8256-89864a2f28ce",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "aX6MCMtH8vIhH8LZ",
          "name": "groq account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger1": [
      {
        "json": {
          "update_id": 841092741,
          "message": {
            "message_id": 6,
            "from": {
              "id": 815999411,
              "is_bot": false,
              "first_name": "Charles",
              "last_name": "Hor",
              "username": "Charleshor",
              "language_code": "en"
            },
            "chat": {
              "id": 815999411,
              "first_name": "Charles",
              "last_name": "Hor",
              "username": "Charleshor",
              "type": "private"
            },
            "date": 1782979393,
            "text": "BBC Bank Berhad is selected as the target organization because banking is an appropriate sector for a cloud migration proposal: it depends on secure, reliable, high-volume transaction processing and must continuously improve digital customer experience. BBC Bank operates within Malaysia financial services regulation and supports retail banking, business banking, corporate banking, treasury, wealth, and digital banking services (RHB Banking Group, n.d.). In this report, BBC Bank is treated as a medium-to-large banking organization with complex legacy applications and a strong need to modernize without disrupting regulated banking operations."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Upload Past Assignments": {
      "main": [
        [
          {
            "node": "Parse Files into Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Gather Data Together",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from Pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Docx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Pdf": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Docx": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic Assingment Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Basic Assingment Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Insert the analysis result into Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create a data table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "Basic Assingment Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Basic Assingment Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Assignment Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Files into Array": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather Data Together": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic Assingment Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Assignment Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table2": {
      "ai_tool": [
        [
          {
            "node": "Assignment Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily2": {
      "ai_tool": [
        [
          {
            "node": "Assignment Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic Assingment Agent": {
      "main": [
        []
      ]
    },
    "Assignment Agent": {
      "main": [
        [
          {
            "node": "Send back the ai content to user",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Assignment Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9c2d2595-e9ed-43d1-a0bf-29672db149dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2eaee0f0424a96bbf8cf9e88c0097a0b4244b10e5b494143362d5e6525740350"
  },
  "nodeGroups": [],
  "id": "IW6vdg6X2MaLrh0j",
  "tags": []
}